global
    maxconn 64
defaults
    mode tcp
    timeout connect 3s
    timeout client 15s
    timeout server 15s
frontend gateway_only
    bind :10255
    default_backend onecli_proxy
backend onecli_proxy
    server onecli onecli:10255 check
